# Logs
logs
*.log

# Dependency directories
node_modules/
.DS_STORE

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Gatsby files
.cache/

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

